<div style="width:100%">
    <div style="width:50%;float:left">
        <img src="~/Content/img/portfolio/thumbnails/5.jpg" alt="Slide 2">
    </div>
    <div style="width:50%;float:right">
        Dojo Name : Hosur
        <br />
        Instrucor Name : Senthil
        <br />
        No of Student : 150
    </div>

</div>